<div class="service-type-block">
    <h3>Nos différents types de service</h3>
    <div class="some-image-group">
        <div class="some-image">
            <img src="assets/images/vehicle-delivery.png" alt="" class="image-item">
        <div class="image-text">
            <h5>Livraison de véhicule</h5>
            <p>
                SRC transport assure  la livraison de véhicule où vous le souhaitez.Que vous ayez acheté une voiture neuve, d'occasion ou que vousayez besoin de transférer un véhiculevers une nouvelle destination.
            </p>
        </div>
       </div>

       <div class="some-image">
        <img src="assets/images/vehicle-rest.png" alt="" class="image-item">
    <div class="image-text">
        <h5>Restitution de véhicule</h5>
        <p>
    SRC transport assure la restitution du véhicule chez son concessionnaire ou chez son
propriétaire. 
        </p>
    </div>
   </div>
   <div class="some-image">
    <img src="assets/images/vehicle-get.png" alt="" class="image-item">
<div class="image-text">
    <h5>Récupération de véhicule</h5>
    <p>
        SRC transport assure la restitution du véhicule chez son concessionnaire ou chez son propriétaire. 
    </p>
</div>
</div>
<div class="some-image">
    <img src="assets/images/delivry-garage.png" alt="" class="image-item">
<div class="image-text">
    <h5>Livraison  plaques w garage</h5>
    <p>
        Lorsque vous achetez un véhicule neuf, SRC transport détient les plaques W garage.Grâce à notre réseau de  chauffeur, nous garantissons une livraison en toute conformité.
    </p>
</div>
</div>
</div>
</div>