<div class="banner-head">
    <div class="banner light-on">
        <div class="banner-description">
            <h3 class="banner-title">Assurance Convoyage : <span class="text-lemon">Protégez Votre Véhicule Avec Confiance</span> </h3>
        </div>
        <img src="assets/images/car3.png" alt="" class="car-banner">
        <div class="inclined-group">
            <div class="inclined-bar bar-blue bar-bottom"></div>
            <div class="inclined-bar bar-yellow"></div>
            <div class="inclined-bar bar-blue bar-top"></div>
        </div> 

    </div>
    </div>