<h2 class="text-header1">Conduisez des véhicules en France et en Europe avec SRC Transport</h2>
<h3 class="text-header2">Nos conditions pour devenir driver</h3>
<div class="cond-become-driver">
    <div class="cond-become-block">
        <div class="cond-driver-item">
           Disposer d'un statut d'entrepreneur ou société
            <img src="assets/images/house.png" alt="">
        </div>
        <div class="cond-driver-item">
            Avoir plus de 22 ans et 3 ans de permis
            <img src="assets/images/driver-lic.png" alt="">
        </div>
    </div>
    <img src="assets/images/driver.png" alt="">
    <div class="cond-become-block">
        <div class="cond-driver-item cond-d-item-right">
        <img src="assets/images/check.png" alt="">
        Avoir une assurance RC circulation automobile 
        </div>
        <div class="cond-driver-item cond-d-item-right">
        <img src="assets/images/gun.png" alt="">
        Un smartphone iPhone version IOS 12+ ou Android 5+
        </div>
    </div>
</div>
<section class="info-cond">
    <div class="info-cond-item">
        <img src="assets/images/paiement.png" alt="">
        <h5>PAIMENT TOUS LES 30 JOURS</h5>
        <p>  Nous vous payons tous les 30
            jours.</p>
    </div>
    <div class="info-cond-item">
        <img src="assets/images/community.png" alt="">
        <h5>COMMUNAUTÉ EXTREME</h5>
        <p> Rejoignez  un groupe dynamique et participez à des discussions enrichissantes </p>
    </div>
    <div class="info-cond-item">
        <img src="assets/images/paiement-split.png" alt="">
        <h5>PAIMENT TOUS LES 30 JOURS</h5>
        <p>Travailler avec une assurance en toute sécurité </p>
    </div>
    <div class="info-cond-item b-item">
        <img src="assets/images/agenda.png" alt="">
        <h5>100% FLEXIBLE</h5>
        <p>Vous êtes libres de choisir vos horaires, avec la flexibilité de décider dans un délai de 7 jours,  </p>
    </div>
    <div class="info-cond-item b-item bs-it">
        <img src="assets/images/money.png" alt="">
        <h5>RÉMUNÉRATION EXTRÊMES</h5>
        <p>Profitez de rémunérations extrêmes avec un avantage de 70 % pour les driver </p>
    </div>
</section>
<section class="become-pilote">
    <p>
        Voulez-vous devenir pilote ? Cliquez sur ce bouton si vous le souhaitez.
    </p>
    <a [routerLink]="'/inscript-convoy/cond-inscription'"><button class="btn btn-yellow">OUVRIR UN COMPTE DRIVER</button></a>
</section>