<dialog class="diag-type-car" [open]="isOpen">
    <div class="form-car-mission insc-form form-client">
        <div class="form-field-car">
            <div class="title-logo">
                <p>
                    Sélectionnez le type de véhicule à convoyer
                </p>
            </div>
            <div class="form-progress-group">
               <img src="assets/images/car-bmw.png" alt="">
            </div>
        </div>
        <form class="form-transport" (submit)="submit($event)" role="">
            <fieldset>
                <div class="form-content">
                    <div class="form-group w-full">
                        <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                            <option value="Statut de la societé">Type de véhicule</option>
                            <option value="sarl">Berline</option>
                            <option value="sarl">Utilitaire</option>
                        </select>
                    </div>
                    <div class="form-group w-full">
                        <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                            <option value="Statut de la societé">Qui vous êtes</option>
                            <option value="sarl">Societe</option>
                            <option value="sarl">Particulier</option>
                        </select>
                    </div>
                    <div class="form-group-line mr-30">
                        <input type="checkbox" name="" id="">
                        <label for="">Avec Restitution</label>
                    </div>
                </div>
                <div class="btn-change-page">
                    <button class="btn btn-yellow"> Obtenir Mon Tarif</button>
                </div>
                <div class="close" (click)="changeStateDialog()">X</div>
            </fieldset>
        </form>
      </div> 
</dialog>