<fieldset>
    <h5>AVEZ-VOUS UNE RC CIRCULATION ?</h5>
    <div class="form-content">
        <div class="form-row w-full">
            <div class="form-group-line mr-30">
                <input type="radio" name="circulation" id="">
                <label for="">OUI </label>
            </div>
            <div class="form-group-line">
                <input type="radio" name="circulation" id="">
                <label for="">NON </label>
            </div>
        </div>
        
    </div>
    <h5>AVEZ-VOUS UN W GARAGE </h5>
    <div class="form-content">
        <div class="form-row w-full">
            <div class="form-group-line mr-30">
                <input type="radio" name="garage" id="">
                <label for="">OUI </label>
            </div>
            <div class="form-group-line">
                <input type="radio" name="garage" id="">
                <label for="">NON </label>
            </div>
        </div>
        <p>
            Pour recevoir une rémunération, vous devez être enregistré en tant qu'auto-entrepreneur ou avoir une structure d'entreprise, comme une micro-entreprise, une SA, une SAS ou une EI.
        </p>
    </div>
    <div class="btn-change-page">
        <button type="button" (click)="previous()"><img src="assets/images/backArrow.png" alt="" class="mr-14"> Précédent </button>
        <button type="button" class="next-btn" (click)="next()">Suivant <img src="assets/images/next-white.png" alt="" class="ml-14"> </button>
    </div>
</fieldset>
