<div class="inf-title">
    <div class="inf-serv-title">
        <div class="rect-block">
            <div class="rect empt"></div>
            <div class="rect fill"></div>
        </div>
        <h5> MEMBRES DE L'ÉQUIPES</h5>
    </div>
    <h4>Notre équipe professionnelle</h4>
</div>
<div class="wallpaper">
    <img src="assets/images/wallpaper.jpeg" alt="">
    <img src="assets/images/addImage.png" alt=""  class="add-image">
</div>
<div class="team-info">
    <p>NOM:Wesley Gabriel</p>
    <p>FUNCTION:Dirigeant </p>
</div>
