<section class="opinion">
    <div class="opinion-title">
        <div></div>
        <h5>Témoignages</h5>
    </div>
    <h4>Que dit notre client ?</h4>
    <div class="comments">
        <app-opinion-item 
        content=" “Efficiently administrate effective outsourcing before process-centric
        deliverables. Phosfluorescently grow exceptional quality vectors and
        excellent core competency. Objectively mesh client-centric interfaces
        with tactical platforms. Progressively benchmark frictionless.”"
        name="Mary Cruzleen"
        title="CEO of Maithon"
        [star]="4"
        imageUrl="assets/images/comment-img1.jpeg">
        </app-opinion-item>
        <app-opinion-item
        content=" “Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis
        lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta
        dapibus. Vivamus magna justo, lacin, convallis at tellus.”"
        title="CEO of Goston"
        [star]="5"
        imageUrl="assets/images/comment-img2.jpeg">
        </app-opinion-item>
    </div>
   </section>
