<div class="banner-head">
    <div class="banner">
        <div class="banner-description">
            <h3 class="banner-title">Votre Convoyage à Prix Doux :Planifiez le dès Aujourd'hui !</h3>
        </div>
        <img src="assets/images/car.png" alt="" class="car-banner">
        <div class="inclined-group">
            <div class="inclined-bar bar-blue bar-bottom"></div>
            <div class="inclined-bar bar-yellow"></div>
            <div class="inclined-bar bar-blue bar-top"></div>
        </div> 

    </div>
    <div class="banner-form">
        <h4>Obtenez votre  devis en  1 minute</h4>
        <form action="" class="devis-address m-auto form-2">
            <div class="input-address">
                <img src="assets/images/addr-green.png" alt="" class="addr-ico">   <input type="text"  placeholder="Adresse de depart">
               </div>
               <div class="input-address">
                   <img src="assets/images/addr-red.png" alt="" class="addr-ico">   <input type="text"  placeholder="Adresse de livraison">
                  </div>
               <div class="input-s">
                <div class="input-address s">
                    <select name="" id="">
                     <option value="" >Type de véhicule</option>
                     <option value="">Citadine</option>
                      <option value="">Berline</option>
                      <option value="">Utilitaire</option>
                      <option value="">Monospace</option>
                    </select>
                 </div>
                 <div class="input-address s">
                     <select name="" id="">
                      <option value="" >Qui vous êtes:</option>
                      <option value="">Particulier</option>
                      <option value="">Entreprise</option>
                     </select>
                  </div>
               </div>
               <button class="btn">Calculer Le Prix</button>
           
        </form>
    </div>
   </div> 
