<div class="reserv-box">
    <h4>PARTENARIAT CLIENT PRO</h4>
    <img src="assets/images/partnariat.png" alt="" class="car-image img-auto">
    <h6>DEVIS SUR MESURE</h6>
    <p class="text-part">Convoyage récurrents +10/Mois</p>
    <h5>INCLUS</h5>
    <form action="">
        <div class="option-reserv">
            <div>
                <input type="checkbox" checked="checked" onclick="return false;"> <label for="">Carburant </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" onclick="return false;"> <label for="">Péage </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" onclick="return false;"> <label for="">Lavage </label>
            </div>
            <div>
                <input type="checkbox" checked="checked" onclick="return false;"> <label for="">W garage </label>
            </div>
        </div>
        <button type="submit" class="btn">RESERVER MA LIVRAISON</button>
    </form>
</div>