<div class="b-driver-info">
    <h3>Devenez driver src transport</h3>
    <p>
        En remplissant notre formulaire d'inscription pour devenir convoyeur professionnel chez SRC Transport, vous vous engagez
dans une expérience où qualité et excellence sont notre credo. Votre rémunération reflétera votre dévouement et votre
performance.Il est important de noter que la détention d'une plaque W ainsi qu'une assurance pour le convoyage sont des obligations. Si
vous avez besoin d'aide pour obtenir ces documents, n'hésitez pas à nous contacter par e-mail ou via le chat. Nous sommes
là pour vous guider à chaque étape.
    </p>
    <a [routerLink]="'/inscript-convoy'"><button class="btn btn-yellow pointer">Commencez l'inscription maintenant <img src="assets/images/nextArrow.png" alt=""></button></a>
</div>
