<div>
    <div class="chat" [ngClass]="{'chat-open': openChat}">
        <div class="chat-title">
            <div class="chat-title-name">Buddy</div>
            <div class="chat-status">Online</div>
            <img src="assets/images/down.png" alt="" id="close-chat" (click)="closeChat()">
        </div>
        <div class="chat-content">
            <div class="chat-item">
                <img src="assets/images/bot.png" alt="">
                <div class="bot-text">
                    Un premier état des lieux sur l'application avec un envoi pour les clients.
                </div>
            </div>
            <div class="chat-item chat-right">
                <div class="bot-text">
                    Un premier état des lieux sur l'applicat
                </div>
            </div>
            <div class="chat-item">
                <img src="assets/images/bot.png" alt="">
                <div class="bot-text">
                    Un premier état des lieux sur l'application avec un envoi pour les clients.
                </div>
            </div>
            <div class="chat-item">
                <img src="assets/images/bot.png" alt="">
                <div class="bot-text">
                    Un premier état des lieux sur l'application avec un envoi pour les clients.
                </div>
            </div>
            <form action="">
                <input type="text" placeholder="Ecrire une response">
                <button><img src="assets/images/gif.png" alt=""></button>
                <button><img src="assets/images/sticker.png" alt=""></button>
                <button class="mr-15"><img src="assets/images/joinFile.png" alt=""></button>
            </form>
        </div>
    </div>
</div>
