<div class="service-list">
    <h4>Simplifiez vos trajets grâce à notres technologies innovantes</h4>
    <div class="service-list-group">
        <div class="service-list-item">
            <img src="assets/images/loc.png" alt="" >
            <p>Déplacements de A à B en 48h à max 7 jours.</p>
        </div>
        <div class="service-list-item">
            <img src="assets/images/call.png" alt="" >
            <p>Un service de qualité , rapide et flexible.</p>
        </div>
        <div class="service-list-item">
            <img src="assets/images/car-devis.png" alt="" >
            <p>Un système de devis et de facturations simplifié</p>
        </div>
        <div class="service-list-item">
            <img src="assets/images/car-network.png" alt="" >
            <p>Un réseaux de convoyeurs professionnels issu d'une assurance avec une expérience de plus de 5 ans</p>
        </div>
        <div class="service-list-item">
            <img src="assets/images/word-plateform.png" alt="" >
            <p>Plateforme et Logiciel évolutif digital , ajustable en fonctions vos besoins spécifiques.</p>
        </div>
        <div class="service-list-item">
            <img src="assets/images/oneClick.png" alt="" >
            <p>États des lieux digitalisés exportable sous pdf.</p>
        </div>
    </div>
   </div>