<div class="connect-page">
    <img src="assets/images/hand-car.png" alt="">
    <div class="connect-form">
        <h4>Se connecter</h4>
        <div class="connect-form-group mb-30">
            <label for="">E-mail</label>
            <input type="text" placeholder="E-mail">
        </div>  
        <div class="connect-form-group">
            <label for="">Mot de passe</label>
            <input type="text" placeholder="Mot de passe">
        </div> 
        <a href="" class="mb-25">Mot de passe oublié ?</a> 
        <button class="btn btn-yellow mb-30">Se Connecter</button>
        <div class="inscript-link">
          <div class="mr-15"> <img src="assets/images/driver-insc.png" alt=""><a [routerLink]="'/inscript-convoy/cond-inscription'">S'inscrire comme driver </a></div>  
            <div><img src="assets/images/driver-empt.png" alt=""><a [routerLink]="'/inscript-client'">S'inscrire comme client</a></div> 
        </div>
    </div>
</div>
