<div class="contact">
    <h3>Nos contacts</h3>
    <div class="contact-way">
        <div class="contact-way-item">
            <img src="assets/images/addr-siege.png" alt="">
            <h4>Siège social</h4>
            <p>68 Landsriver St, Welson
               <br> California 22066</p>
        </div>
        <div class="contact-way-item">
            <img src="assets/images/tel.png" alt="">
            <h4>Numéro de téléphone</h4>
            <p>06.60.09.86.39</p>
        </div>
        <div class="contact-way-item">
            <img src="assets/images/mail.png" alt="">
            <h4>Par mail</h4>
            <p>locationidf.voiture&#64;gmail.com</p>
        </div>
        <div class="contact-way-item">
            <img src="assets/images/chat.png" alt="">
            <h4>Par chat</h4>
            <p>En bas à droite( contactez-nous )</p>
        </div>
    </div>
    
</div>