<app-banner-propos></app-banner-propos>
   <section class="inf-advertisement">
    <article>
        <h4>Libérez les possibilités avec notre service</h4>
        <p>
            L’innovation à portée de main, adaptée à vos besoins
        </p>
        <div class="advert-gauge-title">
            <div>Satisfaction client</div>
            <div>97%</div>
        </div>
        <div class="gauge">
            <div ></div>
        </div>
        <div class="advert-gauge-title">
            <div>Convoyage reserve</div>
            <div>1300</div>
        </div>
        <div class="gauge full">
            <div ></div>
        </div>
        <div class="adver-tel">
            <img src="assets/images/telEmpty.png" alt="">
            <div>Requesting A Call: <br> <span>(629) 555-0129</span></div>
        </div>
    </article>
    <aside>
        <div>
            <img src="assets/images/d-inscript.png" alt="">
            <div>95+ <br> <span>Driver inscript</span></div>
        </div>
    </aside>
   </section>
   <article class="inf-advertisement2">
    <h4>Notre équipe dédiée de spécialistes du transport automobile est là pour vous.</h4>
    <div>
      <p>SRC Transport, basé en région parisienne à Fresnes (94260), est votre partenaire de confiance pour le convoyage de véhicules en France et en Europe.</p> 
      <p>Spécialisés dans le transport automobile, nous collaborons avec des convoyeurs indépendants pour garantir un service de qualité supérieure.</p>
      <p>Vous pouvez nous contacter par e-mail à <span class="fw-600">locationidf.voiture&#64;gmail.com</span>  du lundi au vendredi de 9h00 à 17h00.</p>
      <p>Notre équipe spécialisée sera à votre écoute si vous souhaitez un service sur mesure.</p>
    </div>
   </article>
   <div class="bar-question">
    <p>Vous avez des questions concernant votre plan de transport de véhicules en tête ?</p>
    <button class="btn btn-yellow">GET IN TOUCH <img src="assets/images/to_right.png" alt="" width="9"></button>
   </div>
   <section class="inf-service">
    <div class="inf-title">
        <div class="inf-serv-title">
            <div class="rect-block">
                <div class="rect empt"></div>
                <div class="rect fill"></div>
            </div>
            <h5> NOS SERVICES</h5>
        </div>
        <h4>Le meilleur service pour vous</h4>
    </div>
    <div class="some-inf-serv">
        <div class="some-inf-content">
            <img src="assets/images/body.png" alt="" height="72">
            <article>
                <h5>Choix Personnalisé du Chauffeur</h5>
                <p>
                    Avec notre fonctionnalité unique 'Trouver Driver', vous pouvez sélectionner un convoyeur professionnel à proximité pour répondre rapidement à vos besoins. Cette personnalisation vous garantit un service adapté et efficace
                </p>
            </article>
        </div>
        <div class="some-inf-content">
            <img src="assets/images/car-delivery.png" alt="" height="65">
            <article>
                <h5>Livraison Sécurisée et Authentifiée</h5>
                <p>
                    Nous offrons un service de livraison particulière avec une garantie de sécurité à 100%. Chaque livraison est validée de manière authentique par le client final grâce à un code numérique uniqu
                </p>
            </article>
        </div>
        <div class="some-inf-content">
            <img src="assets/images/price.png" alt="" height="68">
            <article>
                <h5>Service Premium</h5>
                <p>
                    Profitez d'une expérience  sur mesure avec notre service Premium. Bénéficiez de prestations (offerte), choisissez votre chauffeur, et suivez votre véhicule en temps ré
                </p>
            </article>
        </div>
    </div>
    <app-team-inf></app-team-inf>
   </section>
   <app-opinion></app-opinion>
   <app-contact></app-contact>
   <app-loca-message></app-loca-message>
