<app-banner-assur></app-banner-assur>
<section class="art-infos">
    <img src="assets/images/memo-veh.jpeg" alt="">
    <article class="">
        <p class="m-auto">
            Protégez votre véhicule lors de son convoyage avec plus de 2000 convoyage exécuté avec des  driver portant  une assurance professionnel . Profitez de tous les avantages : pas de malus, pas de stress. Une  couverture complète offre une tranquillité d'esprit totale, couvrant les dommages causés par les accidents, le vol et d'autres incidents imprévus.
        </p>
        <div class="corner-rect">
            <span>+</span>
        </div>
        <div class="n-digit">2000</div>
    </article>
</section>
<section class="inf-assurance">
    <h4> Fonctionnement de l’assurance <img src="assets/images/certlogo.png" alt=""></h4>
    <div class="inf-assurance-block mb-0">
        <div class="inf-assurance-item v-align-top">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">01</div>
                <div class="rect-bar-vert">
                    <div class="rect-bar-vert-1"></div>
                    <div class="rect-bar-vert-2"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5> Sécurité Assurée</h5>
            <p>
                Notre approche assure que chaque conducteur est couvert par une assurance dédiée pour chaque trajet, garantissant une sécurité totale à chaque étape du voyage 
            </p>
            </div>
            
        </div>
        <div class="inf-assurance-item v-align-center">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">02</div>
                <div class="hor-top">
                    <div class="rect-bar-hor hor-top-1"></div>
                    <div class="rect-bar-hor hor-top-2"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5> gestion des Réclamations </h5>
            <p>
                En cas de sinistres, vous pourrez facilement soumettre votre demande via notre interface conviviale pour un traitement rapide et efficace
            </p>
            </div>
            
        </div>
        <div class="inf-assurance-item v-align-end">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">03</div>
                <div class="rect-bar-vert-end">
                    <div class="rect-bar-vert-2"></div>
                    <div class="rect-bar-vert-1"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5> Souscription assurance</h5>
            <p>
                Une fois votre trajet réservé,l’assurance est activée  pour le driver mandaté
            </p>
            </div>
            
        </div>
    </div>
    <div class="inf-assurance-block mt-0">
        <div class="inf-assurance-item v-align-top">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">04</div>
                <div class="hor-bottom">
                    <div class="rect-bar-hor hor-bottom-1"></div>
                    <div class="rect-bar-hor hor-bottom-2"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5> Protection complète </h5>
            <p>
                La couverture tout risque inclut tous les risques, tels que les dommages causés par des accidents, le vol et d'autres incidents imprévus, uniquement pendant la durée du convoyage
            </p>
            </div>
            
        </div>
        <div class="inf-assurance-item v-align-center">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">05</div>
                <div class="rect-bar-vert">
                    <div class="rect-bar-vert-1"></div>
                    <div class="rect-bar-vert-2"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5>Avantage </h5>
            <p>
                Chaque véhicule peut être convoyé En w garage , que ce soit sans immatriculation ou arborant une plaque étrangère
            </p>
            </div>
            
        </div>
        <div class="inf-assurance-item v-align-end">
            <div class="rect-gray-assur">
                <div class="rect-yellow-assur"></div>
                <div class="n-digit-order">06</div>
                <div class="hor-top">
                    <div class="rect-bar-hor hor-top-1"></div>
                    <div class="rect-bar-hor hor-top-2"></div>
                </div>
            </div>
            <div class="assur-item-content">
                <h5>Assitance</h5>
            <p>
                En cas de panne, Une assistance sera déclenchée et votre véhicule pourra être  rapatrié au lieu de votre choix, dans les plus brefs délais
            </p>
            </div>
            
        </div>
    </div>
</section> 
<section class="cond">
<h5>DES CONDITIONS S'APPLIQUENT</h5>
<div>
    <aside>
        <h6>Pour le Conducteur :</h6>
        <ul>
            <li>Âge minimum de 22 ans et permis français valide depuis 3 ans.</li>
            <li>Utilisation du véhicule uniquement en France et pays voisins.</li>
            <li>Utilisation à des fins privées uniquement, non professionnelle</li>
            <li>Interdiction de sous-location du véhicule.</li>
        </ul>
    </aside>
    <aside>
        <h6>Pour le Propriétaire :</h6>
        <ul>
            <li>Véhicule à quatre roues, poids ≤ 3,5 tonnes, immatriculé en France.</li>
            <li>Capacité maximale de 9 places, y compris le conducteur.</li>
            <li>Puissance fiscale du véhicule ≤ 14 CV.</li>
        </ul>
    </aside>
</div>

</section>

