<div class="banner-head">
    <div class="banner banner-sunset banner-by-nigth">
        <div class="banner-description">
            <h3 class="banner-title5">Partenariats Entreprises : Découvrez les Avantages avec SRC Transport</h3>
        </div>
        <img src="assets/images/car5.png" alt="" class="car-banner car5">
        <div class="inclined-group">
            <div class="inclined-bar bar-blue bar-bottom"></div>
            <div class="inclined-bar bar-yellow"></div>
            <div class="inclined-bar bar-blue bar-top"></div>
        </div> 

    </div>
   </div> 
