<div class="form-progress-group">
    <div class="form-progress-element " [ngClass]="{'active':isActive('inscript-convoy/informations-chauffeur'),'fill':isFill('inscript-convoy/informations-chauffeur')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATIONS CHAUFFEUR</p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/adresse-postale'),'fill':isFill('inscript-convoy/adresse-postale')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>ADRESSE POSTALE</p> 
    </div>
    <div class="form-progress-element">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION </p> 
    </div>
    <div class="form-progress-element">
        <div class="circle"></div> <div class="circle-select"></div> <p>CIRCULATION</p> 
    </div>
    <div class="form-progress-element">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION PERMIS DE CONDUIRE</p> 
    </div>
    <div class="form-progress-element">
        <div class="circle"></div> <div class="circle-select"></div> <p>DOCUMENT D'IDENTITE</p> 
    </div>
    <div class="form-progress-element">
        <div class="circle"></div> <div class="circle-select"></div> <p>DOCUMENT PROFESSIONNELLE</p> 
    </div>
    <div class="form-progress-element border-none">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION BANCAIRE</p> 
    </div>
</div>