<div class="form-progress-group">
    <div class="form-progress-element " [ngClass]="{'active':isActive('inscript-convoy/informations-chauffeur'),'fill':isFill('inscript-convoy/informations-chauffeur')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATIONS CHAUFFEUR</p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/adresse-postale'),'fill':isFill('inscript-convoy/adresse-postale')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>ADRESSE POSTALE</p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/information'),'fill':isFill('inscript-convoy/information')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION </p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/circulation'),'fill':isFill('inscript-convoy/circulation')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>CIRCULATION</p> 
    </div>
    <div class="form-progress-element"  [ngClass]="{'active':isActive('inscript-convoy/information-permis'),'fill':isFill('inscript-convoy/information-permis')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION PERMIS DE CONDUIRE</p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/document-identite'),'fill':isFill('inscript-convoy/document-identite')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>DOCUMENT D'IDENTITE</p> 
    </div>
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-convoy/document-professionnel'),'fill':isFill('inscript-convoy/document-professionnel')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>DOCUMENT PROFESSIONNELLE</p> 
    </div>
    <div class="form-progress-element border-none" [ngClass]="{'active':isActive('inscript-convoy/information-bancaire'),'fill':isFill('inscript-convoy/information-bancaire')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATION BANCAIRE</p> 
    </div>
</div>