<fieldset>
    <h4>INFORMATIONS CHAUFFEUR</h4>
    <div class="form-content">
        <div class="form-row w-full">
            <div class="form-group-line mr-30">
                <input type="radio" name="sexe" id="">
                <label for="">M </label>
            </div>
            <div class="form-group-line">
                <input type="radio" name="sexe" id="">
                <label for="">MME </label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="">Prenom*</label>
            <input type="text" placeholder="Saisissez votre prenom">
        </div>
        <div class="form-group">
            <label for="">Nom*</label>
            <input type="text" placeholder="Saisissez  votre nom ">
        </div>
        <div class="form-group">
            <label for="">Numero de telephone* </label>
            <input type="text" placeholder="Numero de telephone">
        </div>
        <div class="form-group">
            <label for="">Date de naissance*</label>
            <input type="date" placeholder="Saisissez  votre date de naissance ">
        </div>
        <div class="form-group w-full">
            <label for="">Email*</label>
            <input type="text" placeholder="Saisissez  votre email">
        </div>
        <div class="form-group">
            <label for="">Mot de passe*</label>
            <input type="text" placeholder="Tapez votre mot de passe">
        </div>
        <div class="form-group">
            <label for="">Mot de passe*</label>
            <input type="text" placeholder="Retapez votre mot de passe">
        </div>
        <div class="form-group">
            <label for="">Experience de convoyage*</label>
            <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                <option value="Statut de la societé">--- Experience de convoyage</option>
                <option value="sarl">Moins de 1 an</option>
                <option value="sarl">1-2 ans</option>
                <option value="sarl">2-3 ans</option>
                <option value="sarl">3-5 ans</option>
                <option value="sarl">5 ans et plus</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Je priviligie les courte distance*</label>
            <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                <option value="Statut de la societé">--- Je priviligie les courte distance</option>
                <option value="sarl">-200km</option>
            </select>
        </div>
    </div>
    <div class="btn-change-page">
        <button type="button"><img src="assets/images/backArrow.png" alt="" class="mr-14"> Précédent </button>
        <button type="button" class="next-btn" (click)="next()">Suivant <img src="assets/images/next-white.png" alt="" class="ml-14"> </button>
    </div>
   
</fieldset>