<div class="partner-logo">
    <a href="" class="partner-item step-1"> <img src="assets/images/spoticar.png" alt=""></a>
    <a href="" class="partner-item step-2"> <img src="assets/images/bhcar.png" alt=""></a>
    <a href="" class="partner-item step-3"> <img src="assets/images/midiauto.png" alt=""></a>
    <a href="" class="partner-item step-4"> <img src="assets/images/motric.png" alt=""></a>
    <a href="" class="partner-item step-5"> <img src="assets/images/zelus.png" alt=""></a>
    <a href="" class="partner-item step-6"> <img src="assets/images/peugeot.png" alt=""></a>
</div>