<div class="banner-head">
    <div class="banner">
        <div class="banner-description">
            <h3 class="banner-title">CONVOYAGE EXPRESS DE VEHICULE</h3>
            <div class="banner-x-text"><div class="banner-x"></div>Notre spécialité ! </div>
            <div class="banner-x-2">NOUS CONDUISONS POUR VOUS, POUR RÉUSSIR ENSEMBLE !</div>
            <a routerLink="/a-propos"><button class=" btn banner-more-text">En savoir plus </button></a>
        </div>
        <img src="assets/images/car.png" alt="" class="car-banner">
        <div class="inclined-group">
            <div class="inclined-bar bar-blue bar-bottom"></div>
            <div class="inclined-bar bar-yellow"></div>
            <div class="inclined-bar bar-blue bar-top"></div>
        </div> 

    </div>
    <div class="devis-banner">
        <h4>Obtenez votre  devis en  1 minute</h4>
        <form (submit)="submit($event)" class="devis-address m-auto form-2">
            <div class="input-address" [ngClass]="{'order-0':orderChange,'order-2':!orderChange}">
             <img src="assets/images/addr-green.png" alt="" class="addr-ico">  <geoapify-geocoder-autocomplete 
             placeholder="Adresse de départ"
             lang="fr"
             (placeSelect)="placeSelected($event)"
             >
            </geoapify-geocoder-autocomplete> 
            </div>
            <img src="assets/images/exchange.png" class="rev-btn" alt="" (click)="reverse()">
            <div class="input-address" [ngClass]="{'order-0':!orderChange,'order-2':orderChange}">
                <img src="assets/images/addr-red.png" alt="" class="addr-ico">  <geoapify-geocoder-autocomplete placeholder="Adresse de livraison" lang="fr"></geoapify-geocoder-autocomplete>
               </div>
            <button class="btn">Calculer Le Prix</button>
        </form>
        
        <div class="triangle t-bottom"></div>
        <div class="triangle t-top"></div>
        <app-diag-type-car [(isOpen)]="open"></app-diag-type-car>
    </div>
   </div> 
