<div class="banner-head">
    <div class="banner">
        <div class="banner-description">
            <h3 class="banner-title">CONVOYAGE EXPRESS DE VEHICULE</h3>
            <div class="banner-x-text"><div class="banner-x"></div>Notre spécialité ! </div>
            <div class="banner-x-2">NOUS CONDUISONS POUR VOUS, POUR RÉUSSIR ENSEMBLE !</div>
            <a routerLink="/a-propos"><button class=" btn banner-more-text">En savoir plus </button></a>
        </div>
        <img src="assets/images/car.png" alt="" class="car-banner">
        <div class="inclined-group">
            <div class="inclined-bar bar-blue bar-bottom"></div>
            <div class="inclined-bar bar-yellow"></div>
            <div class="inclined-bar bar-blue bar-top"></div>
        </div> 

    </div>
    <div class="devis-banner">
        <h4>Obtenez votre  devis en  1 minute</h4>
        <form action="page1.html" class="devis-address m-auto form-2">
            <div class="input-address">
             <img src="assets/images/addr-green.png" alt="" class="addr-ico">   <input type="text"  placeholder="Adresse de depart">
            </div>
            <img src="assets/images/reverse.jpg" class="rev-btn" alt="">
            <div class="input-address">
                <img src="assets/images/addr-red.png" alt="" class="addr-ico">   <input type="text"  placeholder="Adresse de livraison">
               </div>
            <button class="btn">Calculer Le Prix</button>
        </form>
       
        <div class="triangle t-bottom"></div>
        <div class="triangle t-top"></div>
        <dialog class="diag-type-car">
            <div class="form-car-mission insc-form form-client">
                <div class="form-field-car">
                    <div class="title-logo">
                        <p>
                            Sélectionnez le type de véhicule à convoyer
                        </p>
                    </div>
                    <div class="form-progress-group">
                       <img src="assets/images/car-bmw.png" alt="">
                    </div>
                </div>
                <form action="page1.html" class="form-transport">
                    <fieldset>
                        <div class="form-content">
                            <div class="form-group w-full">
                                <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                                    <option value="Statut de la societé">Type de véhicule</option>
                                    <option value="sarl">Berline</option>
                                    <option value="sarl">Utilitaire</option>
                                </select>
                            </div>
                            <div class="form-group w-full">
                                <select name="" id="" data-dashlane-rid="735e5eae7a3ec174" data-dashlane-classification="other">
                                    <option value="Statut de la societé">Qui vous êtes</option>
                                    <option value="sarl">Societe</option>
                                    <option value="sarl">Particulier</option>
                                </select>
                            </div>
                            <div class="form-group-line mr-30">
                                <input type="checkbox" name="" id="">
                                <label for="">Avec Restitution</label>
                            </div>
                        </div>
                        <div class="btn-change-page">
                            <button class="btn btn-yellow"> Obtenir Mon Tarif</button>
                        </div>
                        <div class="close" onclick="closeModal()">X</div>
                    </fieldset>
                </form>
              </div> 
        </dialog>
    </div>
   </div> 
