<div class="stats">
    <div class="stat-item">
        <h5 class="stat1"><span>+</span></h5>
        <p>Plus de 1200 livraisons chaque année</p>
    </div>
    <div class="stat-item">
        <h5 class="stat2"><span>+</span></h5>
        <p>Un réseaux de convoyeurs professionnels  avec une expérience de plus de 5 ans</p>
    </div>
    <div class="stat-item">
        <h5 class="stat3">%<span>+</span></h5>
        <p>98% de taux de satisfaction envers nos clients</p>
    </div>
    <div class="stat-item">
        <h5 class="stat4"><span>+</span></h5>
        <p>Une assurance à €1 200 000 en couverture maximal</p>
    </div>
</div>