<fieldset>
    <h4>INFORMATION ENTREPRISE</h4>
    <div class="form-content">
        <div class="form-group">
            <label for="">Nom de la société*</label>
            <input type="text" placeholder="Saisissez votre nom de  société">
        </div>
        <div class="form-group">
            <label for="">Numero de siret *</label>
            <input type="text" placeholder="799250450">
        </div>
        <div class="form-group">
            <label for="">Nom du gestionnaire*</label>
            <input type="text" placeholder="Saisissez le nom du gestionnaire de la societé">
        </div>
        <div class="form-group">
            <label for="">Prénom du gestionnaire</label>
            <input type="text" placeholder="Saisissez le prenom du gestionnaire de la societé">
        </div>
        <div class="form-group">
            <label for="">Email *</label>
            <input type="text" placeholder="Saisissez  votre email">
        </div>
        <div class="form-group">
            <label for="">Numero de telephone *</label>
            <input type="text" placeholder="Saisissez votre numero">
        </div>
        <div class="form-group">
            <label for="">Mot de passe*</label>
            <input type="text" placeholder="Tapez votre mot de passe">
        </div>
        <div class="form-group">
            <label for="">Mot de passe*</label>
            <input type="text" placeholder="Retapez votre mot de passe">
        </div>
    </div>
    <div class="btn-change-page">
        <button type="button"><img src="assets/images/backArrow.png" alt="" class="mr-14"> Précédent </button>
        <button type="button" class="next-btn" (click)="next()">Suivant <img src="assets/images/next-white.png" alt="" class="ml-14"> </button>
    </div>
   
</fieldset>
