<fieldset>
    <h4>DOCUMENT D'IDENTITE</h4>
    <div class="form-content">
        <div class="form-group w-full">
            <label for="">Ville de delivrance*</label>
            <input type="text" placeholder="Saisissez votre ville">
        </div>
        <div class="form-group">
            <label for="">Date de delivrance*</label>
            <input type="date">
        </div>
        <div class="form-group">
            <label for="">Numero d'identité*</label>
            <input type="text" placeholder="Saisissez votre numéro d'identité">
        </div>
        <div class="form-group">
            <label for="input-relev-point">Face avant</label>
            <div class="input-file">
                <input type="file"  id="input-relev-point">
           <div class="holder-black">Face avant du document</div>     <label class="add-input pointer" for="input-relev-point" >+</label>
            </div>
        </div>
        <div class="form-group">
            <label for="input-relev-point">Face arrière</label>
            <div class="input-file">
                <input type="file" placeholder="Document Relevé de point" id="input-relev-point">
           <div class="holder-black">Face arriére du document</div>     <label class="add-input pointer" for="input-relev-point" >+</label>
            </div>
        </div>
        <div class="form-group">
            <label for="input-relev-point">Face avant inclinée</label>
            <div class="input-file">
                <input type="file" placeholder="Document Relevé de point" id="input-relev-point">
           <div class="holder-black">Face avant inclinée</div>     <label class="add-input pointer" for="input-relev-point" >+</label>
            </div>
        </div>
        <div class="form-group">
            <label for="input-relev-point">Face arrière inclinée</label>
            <div class="input-file">
                <input type="file" placeholder="Document Relevé de point" id="input-relev-point">
           <div class="holder-black">Face arriére inclinée</div>     <label class=" pointer" for="input-relev-point" >+</label>
            </div>
        </div>
        <p class="w-full">TERMES</p>
        <ol class="list-order-inline">
            <li>conforme</li>
            <li>Pas de reflet</li>
            <li>Pas de photo couper</li>
            <li>pas de photo flou </li>
        </ol>
        <div class="face-driver-lic form-group">
            <p>photo visage+ document*</p>
            <div class="face-driver-block">
                <div class="face-driver-upload input-file">
                    <input type="file" id="in-driver-face"> <label class="add-input" for="in-driver-face">+</label>
                </div>
                <div class="face-driver-exemple">
                    <h6>Exemple</h6>
                    <img src="images/exemple1.png" alt="">
                </div>
            </div>
            <ul>
                <li>Votre visage sur la photo doit être clair et reconnaissable.</li>
                <li>Les caractères sur la pièce d'identité doivent être clairs lisible .</li>  
                <li>La note doit être marquée comme ceci  « 8LABLY ».</li>
                <li>La note doit porter la mention « Date du jour » comme ceci  (jj-mm-aaaa).</li>
                <li>La note doit être marquée de votre signature.</li>
            </ul>
        </div>
        <div class="face-driver-lic form-group">
            <p>video visage+ document*</p>
            <div class="face-driver-block">
                <div class="face-driver-upload input-file">
                    <input type="file" id="in-driver-face"> <label class="add-input" for="in-driver-face">+</label>
                </div>
                <div class="face-driver-exemple">
                    <h6>Exemple</h6>
                    <img src="images/exemple2.png" alt="">
                </div>
            </div>
            <p class="text-desc-video">
            Fournissez une vidéo de vous avec votre permis tenue en main (votre visage sur la pièce d'identité doit être clair et reconnaissable) et une note marquée « Date du jour », « 8LABLY » et « Signature »
            Dans la vidéo, veuillez lire le contenu suivant : « je soussigner (votre nom prénom) ,que mes document son légitime et que je suis prêt à assumer toutes les responsabilités légales correspondantes »
            </p>
        </div>
        
    </div>
    <div class="btn-change-page">
        <button type="button" (click)="previous()"><img src="images/backArrow.png" alt="" class="mr-14"> Précédent </button>
        <button type="button" class="next-btn" (click)="next()">Suivant <img src="images/next-white.png" alt="" class="ml-14"> </button>
    </div>
   
</fieldset>
