<div class="reserv-box mr-30">
    <h4>{{type}}</h4>
    <hr color="yellow" size="1"/>
    <div class="reserv-adr">
        <p >28 rue du paradis, paris 75501</p>
        <img src="assets/images/exchange.png" alt="" width="25">
        <p> 28 rue du paradis, Marseille 13000</p>
    </div>
    <img [src]="urlImg" alt="" class="car-image scale">
    <div class="price-loc">{{priceHT}}€  HT</div>
    
    <p class="reserv-text">Le prix du trajet retour est équivalent à 50% du tarif appliqué pour le trajet aller.</p>
    <hr color="yellow" size="1"/>
        <ul class="option-reserv">
            <li>
                <img src="assets/images/car_volant_edited.png" alt=""> <p>Livraison par chauffeur professionnelle </p>
            </li>
            <li>
                <img src="assets/images/assurance_edited.png" alt=""> <p>Assurance convoyeur pro</p>
            </li>
            <li>
                <img src="assets/images/money-card.png" alt=""> <p>Peage, lavage, w garage carburant inclus</p>
            </li>
        </ul>
        <button type="submit" class="btn" (click)="onReserv()">RESERVER MA LIVRAISON</button>
</div>