<fieldset>
    <h4>ADRESSE DU SIEGE SOCIAL</h4>
    <div class="form-content">
        <div class="form-group w-full">
            <label for="">Adresse*</label>
            <input type="text" placeholder="Saisissez votre adresse">
        </div>
        <div class="form-group">
            <label for="">ville *</label>
            <input type="text" placeholder="Saisissez votre ville">
        </div>
        <div class="form-group">
            <label for="">code postal*</label>
            <input type="text" placeholder="Saisissez le code postal">
        </div>
        <div class="form-group w-full">
            <label for="">complément d'adresse</label>
            <input type="text" placeholder="Saisissez le complément d'adresse">
        </div>
        <div class="form-group">
            <label for="">T.V.A. *</label>
            <input type="text" placeholder="T.V.A. *">
        </div>
        <div class="face-driver-lic form-group img-profile">
            <p>Photo de Profil*</p>
            <div class="face-driver-block identity">
                <div class="face-driver-upload input-file w-full">
                    <input type="file" id="in-driver-face"> <label class="add-input" for="in-driver-face">+</label>
                </div>
            </div>
        </div>
        <div class="form-group w-full">
            <label for="">Informations relatives à la TVA ®</label>
            <div class="cb-num tva">
                <input type="text" placeholder="Nom de l'entreprise">
            </div>
            <select name="" id="" class="bb-gray">
                <option value="" class="country-ico"> FR VAT</option>
                <option value="">ENG</option>
            </select>
            <input type="text" placeholder="FRAB123456789" class="inf-tva">
        </div>
        <div>
            <input type="checkbox" name="" id="">
            <label for="">J’accepte les cgv voir les conditions generals d e vente</label>
        </div>   
    </div>
    <div class="btn-change-page">
        <button type="button" (click)="previous()"><img src="assets/images/backArrow.png" alt="" class="mr-14" > Précédent </button>
        <button type="button" class="next-btn">Suivant <img src="assets/images/next-white.png" alt="" class="ml-14"> </button>
    </div>

</fieldset>
