<div class="form-progress-group">
    <div class="form-progress-element" [ngClass]="{'active':isActive('inscript-client/informations-chauffeur'),'fill':isFill('inscript-client/informations-chauffeur')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>INFORMATIONS CHAUFFEUR</p> 
    </div>
    <div class="form-progress-element border-none" [ngClass]="{'active':isActive('inscript-client/adresse-siege-social'),'fill':isFill('inscript-client/adresse-siege-social')}">
        <div class="circle"></div> <div class="circle-select"></div> <p>ADRESSE DU SIEGE SOCIAL</p> 
    </div>
</div>
