<div class="loc-message">
    <img src="assets/images/loca.png" alt="" class="loca">
    <form action="" class="contact-message">
        <h4>Envoyer un <span>Message</span></h4>
        <p>Rencontre vous un  problème sur notre site ou avez-vous des questions concernant le convoyage ?  </p>
        <p>Nous sommes là pour vous aider !   Envoyez-nous un message et nous vous répondrons sous 48 heures maximum.</p>
        <p>Pour des réponses immédiates, vous pouvez utilisez notre chat en direct situé en bas à droite de la page</p>
        <input type="text" placeholder="votre nom*">
        <input type="text" placeholder="Adresse e-mail*">
        <textarea name="" id="" placeholder="Message*"></textarea>
        <div class="message-send"><button type="submit">ENVOYER LE MESSAGE</button></div>
    </form>
</div>
